body {
  text-align: center;
  background-color: lightgoldenrodyellow;
}
ul {
  list-style-type: none;
}
.hide {
  display: none;
}
h3 {
  margin: 10px;
}
button {
  margin: 10px;
  justify-content: center;
}
